.App {
  text-align: center;
  margin: 50px auto;
  max-width: 550px;
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 19px 20px;
}

.header-title {
  flex: 1;
  text-align: right;
}

.header-title h3 {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper span {
  font-weight: 700;
  font-size: 20px;
  display: inline-block;
  margin-left: 7px;
}

.logo-wrapper img {
  max-width: 31px;
}

.main-container {
  padding: 36px 36px 55px;
  background: white;
}

.form-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.form-wrapper input {
  width: calc(50% - 8px);
  padding: 5px 10px;
  border: 1px solid #D5D4D8;
  box-sizing: border-box;
  border-radius: 5px;
  height: 35px;
  font-size: 12px;
}

.btn-submit {
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  box-shadow: none;
  height: 40px;
  border: 0;
  width: 100%;
}

.form-wrapper [name='screen-two']{
  margin-right: 8px;
}

.form-wrapper [name='screen-one'] {
  margin-left: 8px;
}

.form-wrapper .btn-submit {
  margin-top: 15px;
}

.preview-wrapper {
  margin-top: 36px;
  position: relative;
}

.preview-wrapper .top-text-wrapper {
  position: absolute;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 20px 0 0;
  top: 0;
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  text-shadow:
          2px 2px 0 #000,
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          0 2px 0 #000,
          2px 0 0 #000,
          0 -2px 0 #000,
          -2px 0 0 #000,
          2px 2px 5px #000;

}

.preview-wrapper .bottom-text-wrapper {
  position: absolute;
  width: 100%;
  font-size: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 0 20px;
  bottom: 0;
  color: white;
  letter-spacing: 1px;
  text-shadow:
          2px 2px 0 #000,
          -2px -2px 0 #000,
          2px -2px 0 #000,
          -2px 2px 0 #000,
          0 2px 0 #000,
          2px 0 0 #000,
          0 -2px 0 #000,
          -2px 0 0 #000,
          2px 2px 5px #000;

}

.preview-wrapper img {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
